* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: -34;
}

#cabecalho {
  height: auto;
}
#cabecalho h1 {
  margin: 0;
  font-size: 1.4em;
}
#cabecalho img {
  max-width: 20%;
  margin-top: 10;
  padding-bottom: 0;
}

#info-cadastro {
  height: auto;
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
}
#info-cadastro  h1 {
  font-size: 1.4em;
  white-space: nowrap;
  margin: 0;
  padding-top: 4;
}
#info-dest-n {
  height: auto;
  border-bottom: 2px dashed black;
}
#info-dest-n h1 {
  margin: auto 0px 0px 0px;
  font-size: 120%;
  overflow: auto;
}

#info {
  height: auto;
  border-bottom: 2px dashed black;
}
#info h2 {
  margin: 2 0;
  padding-left: 5;
  text-align: left;
  font-size: 1em;
  width: 382px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#info h3 {
  margin: auto 0;
  font-size: 1em;
}
#info-valor-status {
  height: auto;
  border-bottom: 2px dashed black;
}

#info-valor-status h1 {
  margin: 2;
  font-size: 1.7em;
}
#rodape {
  height: auto;
  margin-top: 5;
}
#rodape h1 {
  text-transform: none;
  font-size: 0.8em;
  margin: 0;
  padding-left: 5;
  text-align: left;
}
#rodape h4 {
  text-transform: capitalize;
  font-size: 0.8em;
  margin: 0;
  padding-left: 5;
  text-align: left;
}
#rodape span {
  text-transform: lowercase;
}
