* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: -34;
}
#cabecalho {
  height: 190px;
}
#cabecalho h1 {
  margin: 0;
  font-size: 1.4em;
}
#cabecalho img {
  max-width: 20%;
  margin-top: 10;
  padding-bottom: 0;
}
/*  */
#info-cadastro {
  height: 40px;
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
}
#info-cadastro  h1 {
  font-size: 1.4em;
  white-space: nowrap;
  margin: 0px;
  padding-top: 4;
}
/*  */
#info {
  height: 220px;
}
#info h2 {
  margin: 10px 5px;
  padding-left: 5;
  text-align: left;
  font-size: 1em;
  width: 382px;

  overflow: hidden;
  text-overflow: ellipsis;
}
#info h3 {
  margin: auto 10px;
  font-size: 0.8em;
  border: 1px solid;
  border-radius: 5px;
}
/*  */
#info-valor-status {
  height: 30px;
  border-bottom: 2px dashed black;
}
#info-valor-status h1 {
  margin: 2;
  font-size: 1.7em;
}
/*  */
.linha-assinatura {
    border-bottom: 1px dashed black;
}
/*  */
.identificador-informacoes{
    font-style: italic;
    text-decoration: underline;
}
/*  */
#rodape {
  height: 30px;
  margin: 5px 0px;
}
#rodape h1 {
  font-size: 0.8em;
  margin: 0;
  padding-left: 5;
  text-align: left;
}
#rodape h4 {
  text-transform: capitalize;
  font-size: 0.8em;
  margin: 0;
  padding-left: 5;
  text-align: left;
}
#rodape span {
  text-transform: lowercase;
}
