* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}
img {
  width: 100%;
}
/* Imagem Encomenda Volume */
.box0, .box1, .box2 {
  margin-left: -30;
}
/* Encomenda e Status */
.box2, .box3 {
  height: 200px;
}
/* Volume e Cidade */
.box1, .box4 {
  height: 180px;
  padding-top: 40px;
  margin-bottom: 0px;
}
/* Imagem e Titulos */
.box, .box0 {
  margin-top: -40px;
  margin-bottom: 20;
}
/* Status e Cidade */
.box3, .box4 {
  width: 70%;
  margin-right: -20;
}
/* Texto do Topo */
.box {
  float: left;
  width: 85%;
  height: 250px;
  text-align: left;
}
/* Imagem Logo */
.box0 {
  float: left;
  width: 20%;
  height: 250px;
  margin-right: 10;
}
/* Box Volume */
.box1 {
  float: left;
  width: 35%;
}
/* Box Encomenda */
.box2 {
  float: left;
  width: 43%;
}
/* Box Status */
.box3 {
  float: right;
}
/* Box Cidade */
.box4 {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#borda {
  border: 1px solid black;
}
.txt-down {
    padding-top: 80px;
    margin-bottom: -80px;
}
.txt-up {
    padding-top: 30px;
    margin-bottom: -30px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
h5 {
  text-decoration: underline;
  font-size: 2em;
}
/*
 * É SÓ TIRAR ESSE COMENTARIO PARA QUANDO CHEGAR EM 10000!
#encomenda {
    padding-left: 6em;
}
*/
#encomenda, #volume {
  font-size: 10em;
  line-height: 1;
}
#cidade {
  font-size: 7em;
  letter-spacing: -7;
  line-height: 1;
}
#pago {
  padding-top: -20;
  padding-bottom: -20;
  font-size: 10em;
  letter-spacing: -10;
}
#fpg, #valor {
  font-size: 7em;
  padding-top: -20;
  padding-bottom: -10;
  letter-spacing: -6;
  line-height: 0.9;
}
/* TOPO LANCHAS */
/*
#perola {
  margin-top: 0;
  margin-left: -35;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#puma {
  padding-top: -20;
  margin-bottom: -10;
  margin-left: -35;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#esmeralda {
  margin-top: 0;
  margin-left: -25;
  font-size: 3.4em;
  line-height: 0.9;
  letter-spacing: -5;
}
#lima-de-abreu {
  margin-top: 0;
  margin-left: -30;
  font-size: 4.1em;
  line-height: 0.9;
  letter-spacing: -5;
}
#ze-holanda {
  margin-top: 0;
  margin-left: -30;
  font-size: 4.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#tais-holanda {
  margin-top: 0;
  margin-left: -25;
  font-size: 4.2em;
  line-height: 0.9;
  letter-spacing: -5;
}
#soberana {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#oriximina {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#missone {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#diamante {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#crystal {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#belissima {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#noiva-2 {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#ajato-2000 {
  margin-top: 0;
  margin-left: -30;
  font-size: 3.5em;
  line-height: 0.9;
  letter-spacing: -5;
}
#agatha-fernanda {
  margin-top: -10;
  margin-bottom: 20;
  margin-left: -30;
  font-size: 2.6em;
  line-height: 1;
  letter-spacing: -5;
}
#madame-cris {
  margin-top: 0;
  margin-left: -25;
  font-size: 4.3em;
  line-height: 0.9;
  letter-spacing: -5;
}
#gloria-de-deus-3 {
  padding-top: -15;
  font-size: 2.9em;
  letter-spacing: -4;
}
*/
.data {
  font-size: 5em;
  letter-spacing: 0;
}
.destinatario {
  font-size: 4.4em;
}
.letter-4 { letter-spacing: -4; }
.line-height { line-height: 0.9; }
.em1 {  font-size: 1em;}
.em2 {  font-size: 2em;}
.em3 {  font-size: 3em;}
.em4 {  font-size: 4em;}
.em4-2 {  font-size: 4.2em;}
.em4-3 {  font-size: 4.3em;}
.em4-4 {  font-size: 4.4em;}
.em4-5 {  font-size: 4.5em;}
.em4-6 {  font-size: 4.6em;}
.em4-7 {  font-size: 4.7em;}
.em4-8 {  font-size: 4.8em;}
.em4-9 {  font-size: 4.9em;}
.em5 {  font-size: 5em;}
.em5-1 {  font-size: 5.1em;}
.em5-2 {  font-size: 5.2em;}
.em5-3 {  font-size: 5.3em;}
.em5-4 {  font-size: 5.4em;}
.em5-5 {  font-size: 5.5em;}
.em5-6 {  font-size: 5.6em;}
.em5-7 {  font-size: 5.7em;}
.em5-8 {  font-size: 5.8em;}
.em5-9 {  font-size: 5.9em;}
.em6 {  font-size: 6em;}
.em6-1 {  font-size: 6.1em;}
.em6-2 {  font-size: 6.2em;}
.em6-3 {  font-size: 6.3em;}
.em6-4 {  font-size: 6.4em;}
.em6-5 {  font-size: 6.5em;}
.em6-6 {  font-size: 6.6em;}
.em7 {  font-size: 7em;}
.em7-6 {  font-size: 7.6em;}
.pt-15 {  padding-top: -15;}
.pb-15 {  padding-bottom: -15;}
