* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/novo-recibo-ajato-cpf-cnpj.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    margin: -25 -30;
}
#remetente {
    position: absolute;
    margin-top: 173;
    margin-left: 145;
}
#cpf {
    position: absolute;
    margin-left: 460;
    margin-top: 0;
}
#pg {
    position: absolute;
    margin-left: 475;
    margin-top: -65;
}
#envio {
    position: absolute;
    margin-left: 130;
    margin-top: 85;
}
#envio2 {
    position: absolute;
    margin-left: 20;
    margin-top: 105;
}
#extenso {
    position: absolute;
    margin-left: 150;
    margin-top: 23;
    line-height: 1.6;
}
