<template>
  <Layout>
    <v-alert
      border="top"
      color="red lighten-2"
      dark
    >
      I'm an alert with a top border and red color <v-icon>mdi-home</v-icon>
    </v-alert>
  </Layout>
</template>

<script>
import Layout from '../Layouts/Index.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    Layout
  },
  computed: {
    ...mapGetters('teste', ['contador']),
  },
  mounted() {
    // console.log(this.$page.props.usuario);
  }
}
</script>

<style>

</style>
