<template>
  <div>
    <v-snackbar
      :timeout="-1"
      v-model="GET_ACTIVE"
      top
      right
      color="red accent-2"
    >
      <v-list dense color="red accent-2">
        <p class="subtitle-1">Erros encontrados</p>
        <v-list-item v-for="(item, i) in GET_MESSAGES" :key="i" dense>
          <v-list-item-content>
            <v-list-item-title>{{ item }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          v-if="!alert"
          icon
          color="white"
          @click="fechar()"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
  export default {
    data: () => ({
      alert: false,
    }),
    computed: {
      ...mapGetters('Alert', ['GET_ACTIVE', 'GET_MESSAGES'])
    },
    methods: {
      ...mapMutations('Alert', ['SET_ACTIVE']),
      fechar() {
        this.SET_ACTIVE(false);
      }
    }
  }
</script>