<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="computedDateFormatted"
        :label="titulo_label"
        persistent-hint
        append-icon="mdi-calendar"
        readonly
        v-bind="$attrs"
        v-on="on"
      />
    </template>

    <v-date-picker
      v-model="date"
      no-title
      locale="pt-br"
      :min="data_minima"
      @input="menu = false"
    />
  </v-menu>
</template>

<script>
export default {
  model: {
    prop: "model_value",
    event: "change"
  },
  props: {
    model_value: {
      type: String,
      required: true
    },
    titulo_label: {
      type: String,
      default: 'Data'
    },
    data_minima: {
      type: String,
      default: ''
    }
  },
  data: vm => ({
    date: '',
    dateFormatted: '',
    menu: false,
  }),
  computed: {
    computedDateFormatted () {
      return this.formatDate(this.date)
    },
  },
  watch: {
    model_value (valor) {
      if (!valor) {
        this.date = valor;
        this.dateFormatted = valor;
      }
    },
    date (valor) {
      this.dateFormatted = this.formatDate(valor)
    },
    menu (valor) {
      this.$emit('change', this.date);
    }
  },
  methods: {
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    }
  },
}
</script>
