<template>
  <v-dialog
    v-model="DIALOG_COMPUTED"
    :width="largura"
    persistent
  >
    <template v-slot:activator="{ on, attrs }" v-if="!desativar_botao_abrir">
      <v-btn
        :color="cor_botao_abrir"
        v-bind="attrs"
        v-on="on"
        class="ml-2 mb-n1 mr-n3"
        :icon="ativar_icone_botao_abrir"
        :small="small_botao_abrir"
      >
        <v-icon>{{ icone_botao_abrir }}</v-icon>
        {{ texto_botao_abrir }}
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="text-h5 success">
        <v-icon 
          @click="fecharDialog()" 
          class="mr-3"
        >
          mdi-close
        </v-icon>
        
        <span class="text-white">{{ titulo }}</span>
      </v-card-title>

      <v-card-text>
        <slot />
      </v-card-text>
      
      <v-divider class="my-0" />
      
      <v-card-actions>
        <v-spacer />
        <v-btn color="success" @click="salvarDados()">
          {{ texto_botao }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: { 
      type: Boolean, 
      required: true 
    },
    titulo: {
      type: String,
      default: 'prop: titulo'
    },
    texto_botao: {
      type: String,
      default: 'Salvar'
    },
    desativar_botao_abrir: {
      type: Boolean,
      default: false
    },
    icone_botao_abrir: {
      type: String,
      default: 'mdi-plus'
    },
    texto_botao_abrir: {
      type: String,
      default: 'Novo'
    },
    cor_botao_abrir: {
      type: String,
      default: 'success'
    },
    largura: {
      type: [String, Number],
      default: 800
    },
    ativar_icone_botao_abrir: {
      type: Boolean,
      default: false
    },
    small_botao_abrir: {
      type: Boolean,
      default: false
    }
  },
  model: {
    prop: 'dialog',
    event: 'change-dialog'
  },
  computed: {
    DIALOG_COMPUTED: {
      get() {  return this.dialog },
      set(valor) { this.$emit('change-dialog', valor) }
    }
  },
  methods: {
    fecharDialog() {
      this.$emit('change-dialog', false);
    },
    salvarDados() {
      this.$emit('click:dialog-button');
    }
  }
}
</script>

<style>

</style>