<template>
  <v-autocomplete
    v-on="inputListeners"
    v-bind="$attrs"
    v-bind:value="model_value"
    :items="lanchas"
    :label="label"
    :loading="loading"
    item-text="nome"
    item-value="id"
  />
</template>

<script>
export default {
  model: {
    prop: "model_value",
    event: "update:model_value"
  },
  props: {
    model_value: {
      type: [String, Number],
      required: true
    },
    label: {
      type: String,
      default: 'Selecione a lancha'
    }
  },
  data: () => ({
    lanchas: [],
    loading: true
  }),
  created() {
    this.buscarLanchas();
  },
  computed: {
    inputListeners () {
      const vm = this;
      return Object.assign({},
        vm.$listeners, {
          input: function (values) {
            if ([null, undefined].includes(values)) values = vm.$attrs.multiple ? [] : '';
            vm.updateModel(values);
          }
        }
      )
    }
  },
  methods: {
    buscarLanchas() {
      const url = '/lista-de-lanchas';
      this.$inertia.visit(url, {
        method: 'get',
        data: {
          component: this.$inertia.page.component
        },
        preserveState: true,
        only: ['lanchas'],
        onSuccess: page => { 
          this.lanchas = page.props.lanchas;
        },
        onFinish: () => this.loading = false
      });
    },
    updateModel(values) {
      if ([null, undefined].includes(values)) values = this.$attrs.multiple ? [] : '';
      this.$emit('update:model_value', values);
    },
  }
}
</script>

<style>

</style>