<template>
  <Layout>
    <v-card class="mx-1 elevation 1">
      <v-card-title>
        Relatório por Lancha
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        />
        <Novo />
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="DESSERTS_COMPUTED"
        :search="search"
        height="calc(100vh - 85px)"
        hide-default-footer
        :items-per-page="-1"
      >
        <template #item.acoes="{ item }">
          <Ver :item="item" />
        </template>

        <template #item.data="{ value }">{{ formatarData(value) }}</template>
        <template #item.valor_total="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>
        <template #item.valor_fpg="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>
        <template #item.valor_pago="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>
        <template #item.porcentagem_ajato="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>
        <template #item.porcentagem_lancha_despesas="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>
      </v-data-table>
    </v-card>
  </Layout>
</template>

<script>
import moment from 'moment';
import Layout from '../../../Layouts/Index';
import Novo from './Dialogs/Novo.vue';
import Ver from './Dialogs/Ver.vue';

export default {
  components: { Layout, Novo, Ver },
  data: () => ({
    search: '',
    headers: [
      { text: 'ID' , value: 'id' },
      { text: 'Lancha' , value: 'nome_lancha' },
      { text: 'Data' , value: 'data' },
      { text: 'Total' , value: 'valor_total' },
      { text: 'FPG' , value: 'valor_fpg' },
      { text: 'PG' , value: 'valor_pago' },
      { text: 'Ajato 10%' , value: 'porcentagem_ajato' },
      { text: 'Embarcação' , value: 'porcentagem_lancha_despesas' },
      { text: '' , value: 'acoes' }
    ], 
    desserts: []
  }),
  computed: {
    DESSERTS_COMPUTED() {
      return this.$page.props.relatorios_lanchas;
    }
  },
  methods: {
    formatarData(data) {
      return moment(data).format('DD/MM/YYYY');
    }
  }
}
</script>

<style>

</style>