<template>
  <Layout>
    <v-card class="elevation-0" height="100%">
      <v-card-title class="text-h5">{{ textoTituloCard }}</v-card-title>  

      <v-divider />

      <v-card-text>
        <v-row>
          <v-col>
            <v-autocomplete
              v-model="form.lancha_id"
              :items="selects.lanchas"
              label="Selecione a lancha *"
              item-text="nome"
              item-value="id"
            />
          </v-col>

          <v-col>
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateFormatted"
                  label="Data de entrada *"
                  append-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                />
              </template>
              <v-date-picker
                v-model="form.data_entrada"
                no-title
                locale="pt-BR"
                format="DD/MM/YYYY"
                @input="menu1 = false"
              />
            </v-menu>            
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-textarea
              v-model="form.descricao"
              label="Descrição"
              rows="1"
              hide-details
              auto-grow
              class="mt-n6"
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-text-field
              v-model="form.destinatario"
              label="Destinatário *"
            />
          </v-col>

          <v-col cols="4">
            <v-autocomplete
              v-model="form.municipio_id"
              :items="selects.municipios"
              label="Selecione a origem *"
              item-text="nome"
              item-value="id"
            />
          </v-col>

          <v-col cols="2">
            <v-text-field
              v-model="form.valor"
              label="Valor *"
              @input="validarNumero($event)"
            />
          </v-col>
        </v-row>

        <v-row class="mt-0">
          <v-col cols="3">
            <v-select
              v-model="form.status"
              :items="selects.status"
              label="Selecione o status *"
              item-text="text"
              item-value="value"
            />
          </v-col>

          <v-col>
            <v-text-field
              v-model="form.recebedor_nome"
              label="Informe o nome do recebedor*"
            />
          </v-col>

          <v-col>
            <v-text-field
              v-model="form.recebedor_contato"
              label="Infome o contato do recebedor *"
            />
          </v-col>
        </v-row>

        <v-checkbox
          v-model="form.entregue"
          label="Entregue?"
        />
      </v-card-text>
      
      <v-divider />
      
      <v-card-actions>
        <v-spacer />
        <v-btn color="error" :href="route('encomendas_recebidas_lancha.index')">Voltar</v-btn>

        <v-btn color="success" @click="salvarDados()">{{ textoBotaoCard }}</v-btn>
      </v-card-actions>
    </v-card>
  </Layout>
</template>

<script>
import Layout from '../../Layouts/Index.vue';

export default {
  components: { Layout },
  data: () => ({
    dialog: false,
    menu1: false,
    selects: {
      lanchas: [],
      municipios: [],
      status: [
        { text: 'PAGO', value: 'PG' },
        { text: 'AGUARDANDO PAGAMENTO', value: 'FPG' }
      ]
    },
    form: {
      lancha_id: '',
      data_entrada: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      descricao: '',
      destinatario: '',
      municipio_id: '',
      valor: 0,
      status: '',
      entregue: false,
      recebedor_nome: '',
      recebedor_contato: ''
    }
  }),
  mounted() {
    this.selects.lanchas = this.$inertia.page.props.lanchas;
    this.selects.municipios = this.$inertia.page.props.municipios;
    this.form = this.$inertia.page.props.editar_item;
  },
  computed: {
    textoTituloCard() {
      return `Editar Registro #${this.form.id}`
    },  
    textoBotaoCard() {
      return 'Atualizar';
    },
    dateFormatted: {
      get() { 
        const [ ano, mes, dia] = this.form.data_entrada.split('-');
        return `${dia}/${mes}/${ano}`;
      },
      set(value) { this.form.data_entrada = value; }
    },  
    numericValue() {
      const valor = this.form.valor.replace(/[^0-9.,]/g, '');
      return valor;
    },
    formattedValue() {
      const valor = this.numericValue.replace(',', '.');
      return parseFloat(valor);
    }
  },
  methods: {
    fecharDialog () {
      this.dialog = false;
    },
    validarNumero() {
      this.form.valor = this.formattedValue;
    }, 
    salvarDados() {
      this.$inertia.put(`/encomendas_recebidas_lancha/${this.form.id}`, this.form);
    }
  },
}
</script>

<style>

</style>