<template>
  <Layout>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      height="calc(100vh - 130px)"
      class="mx-1 mt-1 py-0 elevation-1"
      fixed-header
      :items-per-page="15"
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Encomendas Recebidas da Lancha</v-toolbar-title>
          <v-divider class="mx-4" inset vertical />
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Pesquisar"
            single-line
            hide-details
            class="mr-2"
          />
          
          <DialogNovaEncomendaRecebida @atualizar-tela-inicial="atualizarTelaInicial()" />
        </v-toolbar>
      </template>

      <template #item.entregue="{ item }">{{ item.entregue == 1 ? 'Sim' : 'Não' }}</template>

      <template #item.actions="{ item }">
        <v-toolbar flat dense color="transparent">

          <DialogCheckUp 
            :editar_item="item"
            @atualizar-tela-inicial="atualizarTelaInicial()"
          />

          <DialogEditarEncomendaRecebida 
            :editar_item="item" 
            @atualizar-tela-inicial="atualizarTelaInicial()"
          />
  
          <v-btn 
            icon 
            :href="`/encomendas_recebidas_lancha/imprimir-recibo/${item.id}`" 
            title="Emitir recibo"
            target="_blank"
            small
            class="mr-1"
          >
            <v-icon>mdi-text-box</v-icon>
          </v-btn>

          <DialogDeletarEncomenda :editar_item="item" />
        </v-toolbar>
      </template>
    </v-data-table>
  </Layout>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue'
import Layout from '../../Layouts/Index.vue';
import DialogNovaEncomendaRecebida from './Dialogs/DialogNovaEncomendaRecebida.vue';
import DialogEditarEncomendaRecebida from './Dialogs/DialogEditarEncomendaRecebida.vue';
import DialogCheckUp from './Dialogs/DialogCheckUp.vue';
import DialogDeletarEncomenda from './Dialogs/DialogDeletarEncomenda.vue';

export default {
  components: {
    Link,
    Layout,
    DialogNovaEncomendaRecebida,
    DialogCheckUp,
    DialogEditarEncomendaRecebida,
    DialogDeletarEncomenda
  },
  mounted() {
    this.desserts = this.$inertia.page.props.encomendas_recebidas;
  },
  watch: {
    "$page.props.encomendas_recebidas"() {
      this.atualizarTelaInicial();
    }
  },
  data: () => ({
    search: '',
    headers: [
      { text: 'ID',           value: 'id',                class: 'mx-0 pl-2', cellClass: 'mx-0 pl-2', width: '65' },
      { text: 'Lancha',       value: 'nome_lancha',       class: 'ml-0 pl-0', cellClass: 'mr-0 pl-0' },
      { text: 'Data Entrada', value: 'data_entrada',      class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '90' },
      { text: 'Descrição',    value: 'descricao',         class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '200'},
      { text: 'Destinatario', value: 'destinatario',      class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '200' },
      { text: 'Origem',       value: 'nome_municipio',    class: 'mx-0 px-0', cellClass: 'mx-0 px-0' },
      { text: 'Valor',        value: 'valor',             class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '50' },
      { text: 'Status',       value: 'status',            class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '55' },
      { text: 'Entregue',     value: 'entregue',          class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '70' },
      { text: 'Recebedor',    value: 'recebedor_nome',    class: 'mx-0 px-0', cellClass: 'mx-0 px-0', width: '200' },
      { text: 'Contato',      value: 'recebedor_contato', class: 'mx-0 px-0', cellClass: 'mx-0 px-0' },
      { text: '',             value: 'actions',           class: '', cellClass: '', width: '80' },
    ],
    desserts: []
  }),
  methods: {
    atualizarTelaInicial() {
      this.desserts = this.$page.props.encomendas_recebidas;
    }
  }
}
</script>

<style>
.text-no-wrap {
  white-space: nowrap;
}
</style>