<template>
  <Layout>
    <v-card class="mx-1 elevation-1">
      <v-card-title>
        Relatório por Destino Individual
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Pesquisar"
          single-line
          hide-details
        />
        <Novo />
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="DESSERTS_COMPUTED"
        :search="search"
        height="calc(100vh - 85px)"
        hide-default-footer
        :items-per-page="-1"
      >
        <template #item.data="{ value }">{{ formatarData(value) }}</template>
        <template #item.acoes="{ item }">
          <ListaDeEncomendas :item="item" />
        </template>
      </v-data-table>
    </v-card>
  </Layout>
</template>

<script>
import moment from 'moment';
import Layout from '../../../../Layouts/Index.vue';
import Novo from './Dialogs/Novo.vue';
import ListaDeEncomendas from './Dialogs/ListaDeEncomendas.vue';

export default {
  components: { Layout, Novo, ListaDeEncomendas },
  data: () => ({
    search: '',
    headers: [
      { text: 'ID' , value: 'id' },
      { text: 'Data' , value: 'data' },
      { text: 'Lancha' , value: 'nome_lancha' },
      { text: 'Destino' , value: 'nome_municipio' },
      { text: 'Ações' , value: 'acoes', width: '90' },
    ]
  }),
  computed: {
    DESSERTS_COMPUTED() {
      return this.$page.props.relatorio_por_destino_individual;
    }
  },
  methods: {
    formatarData(data) {
      return moment(data).format('DD/MM/YYYY');
    }
  }
}
</script>

<style>

</style>