<template>
  <dialog-component 
    v-model="dialog" 
    desativar_botao_abrir
    :titulo="TITULO_COMPUTED"
    :texto_botao="TEXTO_BOTAO"
    :largura="650"
    @change-dialog="reset"
    @click:dialog-button="gerarRelatorio()"
  >
    <v-row class="pb-0 mb-0 pt-2 mt-2">
      <v-col cols="4">
        <DatePickerComponent v-model="dados.data"/>
      </v-col>
      <v-col cols="8">
        <LanchaSelectComponent v-model="dados.lancha_id" />
      </v-col>
    </v-row>
  </dialog-component>
</template>

<script>
import { mapMutations } from 'vuex';
import DatePickerComponent from '../../../components/DatePickerComponent.vue';
import DialogComponent from "../../../components/DialogComponent.vue";
import LanchaSelectComponent from '../../../components/LanchaSelectComponent.vue';

export default {
  components: { DialogComponent, DatePickerComponent, LanchaSelectComponent },
  name: 'TodosDestinosPorDataLancha',
  props: {
    text_dialog: {
      type: String
    }
  },
  data: () => ({ 
    dialog: false,
    dados: {
      lancha_id: '',
      data: ''
    }
  }),
  computed: {
    TITULO_COMPUTED: () => 'Relatório de Todos os Destino por Data e Lancha',
    TEXTO_BOTAO: () => 'Gerar Relatório',
  },
  watch: {
    text_dialog(valor) {
      this.dialog = (valor === 'todos-destinos-por-data-lancha');
    }
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    reset(e) {
      if (!e) this.$emit('reset-text-dialog');
    },
    resetDados() {
      this.dados.data = '';
      this.dados.lancha_id = '';
    },
    fecharDialog() {
      this.dialog = false;
    },
    gerarRelatorio() {
      const filteredObj = Object.entries(this.dados).filter(([key, value]) => value == '');

      if (filteredObj.length) {
        this.SET_ACTIVE(true);
        this.SET_MESSAGES(['Todos os campos devem ser preenchidos.']);
  
        setTimeout(() => {
          this.SET_ACTIVE(false);
          this.SET_MESSAGES([]);
        }, 6000);

        return;
      }
      
      const url = `/relatorio/todos-destinos-por-data-lancha/gerar-relatorio/${this.dados.data}/${this.dados.lancha_id}`;
      window.open(url); 
      this.fecharDialog();
      this.reset();      
    }
  }
}
</script>

<style>

</style>