<template>
  <v-dialog
    v-model="dialog"
    width="600"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        icon
        small
        :disabled="editar_item.entregue == 1"
        title="Deletar encomenda"
      >
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="text-h5 error">
        <v-icon @click="fecharDialog()" class="mr-3">mdi-close</v-icon>
        <span class="text-white">
          Deseja realmente excluir a encomenda #{{ editar_item.id }}?
        </span>
      </v-card-title>
      
      <v-divider class="my-0" />
      
      <v-card-actions>
        <v-spacer />
        <v-btn color="error" @click="deletarDados()">Deletar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  props: {
    editar_item: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    form: {
      lancha_id: '',
      data_entrada: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      descricao: '',
      destinatario: '',
      municipio_id: '',
      valor: '',
      status: '',
      recebedor_nome: '',
      recebedor_contato: ''
    }
  }),
  mounted() {
    this.form = Object.assign({}, this.editar_item);
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    fecharDialog () {
      this.SET_ACTIVE(false);
      this.dialog = false;
      this.form = Object.assign({}, this.editar_item);
    },
    async deletarDados() {
      await this.$inertia.visit(
        `/encomendas_recebidas_lancha/${this.form.id}`, 
        {
          method: 'DELETE',
          data: this.form,
          preserveState: true,
          onSuccess: page => { 
            this.$emit('atualizar-tela-inicial');
            this.fecharDialog();
          },
          onError: errors => {
            this.SET_ACTIVE(true);
            this.SET_MESSAGES(errors);
          }
        }
      );
    }
  },
}
</script>

<style>

</style>