<template>
  <v-row justify="center">
    <v-dialog
      v-model="DIALOG_COMPUTED"
      fullscreen
      persistent
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn
            icon
            dark
            @click="fecharDialog()"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          
          <v-toolbar-title>
            Lancha: {{ NOME_LANCHA }} - Data de entrada: {{ DATA_ENTRADA }}
          </v-toolbar-title>
          
          <v-progress-circular 
            :value="PROGRESSO" 
            :width="6"
            :size="50"
            striped 
            color="white"
            class="ml-4"
          >
            {{ formatarValorParaNumericoComCasas(PROGRESSO, 0) }}%
          </v-progress-circular>

          <v-spacer />
          
          <v-toolbar-items>
            <v-btn
              dark
              text
              @click="gerarRelatorio()"
              target="_blank"
            >
              Gerar Relatorio
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-data-table
          :headers="headers"
          :items="desserts"
          height="calc(100vh - 120px)"
          class="mx-1 elevation-1"
          fixed-header
          hide-default-footer
          :items-per-page="-1"
        >
          <template #top>
            <v-toolbar flat dense>
              <span class="subtitle-2">
                Total: R${{ formatarValorParaNumericoComCasas(VALOR_TOTAL) }}
              </span>

              <v-divider inset vertical class="mx-4" />

              <span class="subtitle-2">
                Total Entregue: R${{ formatarValorParaNumericoComCasas(VALOR_TOTAL_ENTREGUE) }}
              </span>

              <v-divider inset vertical class="mx-4" />

              <span class="subtitle-2">
                Ajato({{ PORCENTAGEM }}%): R${{ formatarValorParaNumericoComCasas(VALOR_AJATO) }}
              </span>

              <v-divider inset vertical class="mx-4" />

              <span class="subtitle-2">
                Lancha(%): R${{ formatarValorParaNumericoComCasas(VALOR_LANCHA) }}
              </span>
            </v-toolbar>
          </template>
          
          <template #item.entregue="{ value }">{{ value == 1 ? 'SIM' : 'NÃO' }}</template>
        </v-data-table>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  import moment from 'moment';

  export default {
    props: {
      dialog: {
        type: Boolean,
        required: true
      },
      dados_dialog: {
        type: Object,
        required: true
      }
    },
    model: {
      prop: 'dialog',
      event: 'change-dialog'
    },
    data: () => ({
      headers: [
        { text: 'ID', value: 'id', width: '65' },
        { text: 'Lancha', value: 'nome_lancha', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: 'Viagem', value: 'data_entrada', width: '120' },
        { text: 'Descrição', value: 'descricao', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: 'Destinatario', value: 'destinatario', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: 'Origem', value: 'nome_municipio', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: 'Valor', value: 'valor', width: '90' },
        { text: 'Status', value: 'status', width: '90' },
        { text: 'Entregue', value: 'entregue', width: '100' },
        { text: 'Recebedor', value: 'recebedor_nome', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: 'Contato', value: 'recebedor_contato', cellClass: 'text-no-wrap', class: 'text-no-wrap' },
        { text: '', value: 'actions', width: '80' },
      ],
      desserts: []
    }),
    watch: {
      dialog() {
        this.desserts = this.dados_dialog.lista;
      }
    },
    computed: {
      NOME_LANCHA() {
        const nome_lancha = this.dados_dialog.item.nome_lancha;
        return nome_lancha;
      },
      VALOR_TOTAL() {
        const valor_total = this.desserts.reduce((total, obj) => total + obj.valor, 0);
        return valor_total;
      },
      VALOR_TOTAL_ENTREGUE() {
        const valor_total = this.desserts.reduce((total, obj) => (obj.entregue == 1) ? total + obj.valor : total + 0, 0);
        return valor_total;
      },
      DATA_ENTRADA() {
        const data_entrada = moment(this.dados_dialog.item.data_entrada, 'YYYY-MM-DD').format('DD/MM/YYYY');
        return data_entrada;
      },
      PORCENTAGEM() {
        return (this.dados_dialog.item.lancha_id == 1) ? 5 : 10;
      },
      VALOR_AJATO() {
        const valor_ajato = (this.VALOR_TOTAL_ENTREGUE * this.PORCENTAGEM) / 100;
        return valor_ajato;
      },
      VALOR_LANCHA() {
        const valor_lancha = (this.VALOR_TOTAL_ENTREGUE * (100 - this.PORCENTAGEM)) / 100;
        return valor_lancha;
      },
      PROGRESSO() {
        const entregues = this.dados_dialog.item.entregues;
        const total_recebido = this.dados_dialog.item.total_recebido;
        const porcentagem = (entregues / total_recebido) * 100;
        return porcentagem;
      },
      DIALOG_COMPUTED: {
        get() { return this.dialog },
        set(valor) { this.$emit('change-dialog', valor) }
      }
    }, 
    methods: {
      fecharDialog() {
        this.$emit('change-dialog', false);
      },
      formatarValorParaNumericoComCasas(valor, casas = 2) {
        const resultado = parseFloat(valor).toFixed(casas);
        const valor_formatado = resultado.replace('.', ',');
        return valor_formatado;
      },
      gerarRelatorio() {
        const data_entrada = this.DATA_ENTRADA;
        const lancha_id = this.dados_dialog.item.lancha_id;
        const url = this.route('encomendas_recebidas_lancha.relatorio.gerar_relatorio');
        const url_params = `${url}/?lancha_id=${lancha_id}&data_entrada=${data_entrada}`;
        window.open(url_params);
      }
    }
  }
</script>