<template>
  <v-dialog
    v-model="dialog"
    width="800"
    persistent
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        class="mr-1"
        icon
        small
        :disabled="editar_item.entregue == 1"
        title="Entregar encomenda"
      >
        <v-icon>mdi-package-check</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="text-h5 success">
        <v-icon @click="fecharDialog()" class="mr-3">mdi-close</v-icon>
        <span class="text-white">Encomenda #{{ editar_item.id }}</span>
      </v-card-title>

      <v-card-text>
        <v-row class="mt-4 mb-0">
          <v-col class="my-0 py-0">
            <v-autocomplete
              v-model="form.lancha_id"
              :items="selects.lanchas"
              label="Selecione a lancha *"
              item-text="nome"
              item-value="id"
              disabled
            />
          </v-col>

          <v-col class="my-0 py-0">
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateFormatted"
                  label="Data de entrada *"
                  append-icon="mdi-calendar"
                  v-bind="attrs"
                  v-on="on"
                  disabled
                />
              </template>
              <v-date-picker
                v-model="form.data_entrada"
                no-title
                locale="pt-BR"
                format="DD/MM/YYYY"
                @input="menu1 = false"
              />
            </v-menu>            
          </v-col>
        </v-row>

        <v-row class="my-0">
          <v-col class="my-0 py-0">
            <v-text-field
              v-model="form.destinatario"
              label="Destinatário *"
              disabled
            />
          </v-col>

          <v-col class="my-0 py-0" cols="4">
            <v-autocomplete
              v-model="form.municipio_id"
              :items="selects.municipios"
              label="Selecione a origem *"
              item-text="nome"
              item-value="id"
              disabled
            />
          </v-col>
        </v-row>

        <v-row class="mt-0">
          <v-col class="my-0 py-0">
            <v-textarea
              v-model="form.descricao"
              label="Descrição"
              rows="1"
              disabled
            />
          </v-col>
        </v-row>

        <v-row class="my-0">
          <v-col cols="5" class="my-0 py-0">
            <v-select
              v-model="form.status"
              :items="selects.status"
              label="Selecione o status *"
              item-text="text"
              item-value="value"
              disabled
            />
          </v-col>

          <v-col class="my-0 py-0" cols="3">
            <v-text-field
              v-model="form.valor"
              label="Valor *"
              @input="validarNumero($event)"
              disabled
            />
          </v-col>

          <v-col class="my-0 py-0">
            <v-checkbox
              v-model="form.entregue"
              label="Encomenda entregue?"
            />
          </v-col>
        </v-row>

        <v-row class="my-0" v-if="form.entregue">
          <v-col class="my-0 py-0">
            <v-text-field
              v-model="form.recebedor_nome"
              label="Informe o nome do recebedor*"
            />
          </v-col>

          <v-col class="my-0 py-0">
            <v-text-field
              v-model="form.recebedor_contato"
              label="Infome o contato do recebedor *"
            />
          </v-col>
        </v-row>
      </v-card-text>
      
      <v-divider class="my-0" />
      
      <v-card-actions>
        <v-spacer />
        <v-btn color="success" @click="salvarDados()">Salvar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  props: {
    editar_item: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    menu1: false,
    selects: {
      lanchas: [],
      municipios: [],
      status: [
        { text: 'PAGO', value: 'PG' },
        { text: 'AGUARDANDO PAGAMENTO', value: 'FPG' }
      ]
    },
    form: {
      lancha_id: '',
      data_entrada: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      descricao: '',
      destinatario: '',
      municipio_id: '',
      valor: '',
      status: '',
      recebedor_nome: '',
      recebedor_contato: ''
    }
  }),
  mounted() {
    this.selects.lanchas = this.$inertia.page.props.lanchas;
    this.selects.municipios = this.$inertia.page.props.municipios;
    this.form = Object.assign({}, this.editar_item);
  },
  computed: {
    dateFormatted: {
      get() { 
        const [ ano, mes, dia] = this.form.data_entrada.split('-');
        return `${dia}/${mes}/${ano}`;
      },
      set(value) { this.form.data_entrada = value; }
    },  
    numericValue() {
      const valor = this.form.valor.replace(/[^0-9.,]/g, '');
      return valor;
    },
    formattedValue() {
      const valor = this.numericValue.replace(',', '.');
      return parseFloat(valor);
    }
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    fecharDialog () {
      this.SET_ACTIVE(false);
      this.dialog = false;
      this.form = Object.assign({}, this.editar_item);
    },
    validarNumero() {
      this.form.valor = this.formattedValue;
    }, 
    async salvarDados() {
      await this.$inertia.visit(
        `/encomendas_recebidas_lancha/${this.form.id}`, 
        {
          method: 'PUT',
          data: this.form,
          preserveState: true,
          onSuccess: page => { 
            this.$emit('atualizar-tela-inicial');
            this.fecharDialog();
          },
          onError: errors => {
            this.SET_ACTIVE(true);
            this.SET_MESSAGES(errors);
          }
        }
      );
    }
  },
}
</script>

<style>

</style>