<template>
  <v-icon @click="deletar()">mdi-delete</v-icon>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  methods: {
    deletar() {
      this.$inertia.delete(
        route('lista_despesa.destroy', this.id), 
        {
          preserveState: true,
          onSuccess: () => {
            this.$emit('atualizar-lista_despesa');
          }
        }
      )
    }
  }
}
</script>

<style>

</style>