<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    hide-default-footer
    class="elevation-2"
    no-data-text="Nenhum resultado encontrado..."
    :items-per-page="-1"
  >
    <template #top>
      <v-toolbar flat dense color="white">
        <v-toolbar-title>Lista de Despesas</v-toolbar-title>
        <v-divider class="mx-4" inset vertical />
        <v-spacer />

        <NovaListaDespesa 
          :id_relatorio="id_relatorio" 
          @atualizar-lista-despesas="buscarListaDespesa()"
        />
      </v-toolbar>
    </template>

    <template #item.valor="{ value }">{{ value.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</template>

    <template #item.actions="{ item }">
      <DeletarListaDespesa :id="item.id" @atualizar-lista_despesa="buscarListaDespesa()" />
    </template>
  </v-data-table>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue';
import NovaListaDespesa from './NovaListaDespesa.vue';
import DeletarListaDespesa from './DeletarListaDespesa.vue';

export default {
  components: { Link, NovaListaDespesa, DeletarListaDespesa },
  props: {
    id_relatorio: {
      type: Number,
      required:true
    }
  },
  data: () => ({
    headers: [
      { text: "Descrição", value: "descricao" },
      { text: "Valor", value: "valor" },
      { text: "", value: 'actions' }
    ],
    desserts: []
  }),
  mounted() {
    this.buscarListaDespesa();
  },
  methods: {
    buscarListaDespesa() {
      this.$inertia.get(
        route('lista_despesa.index'), 
        { id: this.id_relatorio },
        {
          preserveState: true,
          onSuccess: page => {
            this.desserts = page.props.lista_atual;
          }
        } 
      )
    }
  }
}
</script>

<style>

</style>