<template>
  <DialogComponent 
    v-model="dialog"
    largura="400"
    titulo="Nova Despesa"
    @click:dialog-button="salvarListaDespesa()"
  >
    <v-textarea
      v-model="form.descricao"
      label="Descrição"
      rows="1"
      hide-details
    />

    <v-text-field
      v-model="form.valor"
      label="Valor *"
      @input="validarNumero($event)"
      hide-details
    />
  </DialogComponent>
</template>

<script>
import { mapMutations } from 'vuex';
import DialogComponent from '../../../../components/DialogComponent.vue';

export default {
  components: { DialogComponent },
  props: {
    id_relatorio: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    form: {
      descricao: '',
      valor: ''
    }
  }),
  computed: {
    NUMERIC_VALUE() {
      const valor = this.form.valor.replace(/[^0-9.,]/g, '');
      return valor;
    },
    FORMATTED_VALUE() {
      const valor = this.NUMERIC_VALUE.replace(',', '.');
      return parseFloat(valor);
    }
  }, 
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    validarNumero() {
      this.form.valor = this.FORMATTED_VALUE;
    },
    fecharDialog() {
      this.dialog = false;
      this.form.descricao = '';
      this.form.valor = '';
    },
    salvarListaDespesa() {
      const params = { por_lancha_id: this.id_relatorio, ...this.form };
      
      this.$inertia.post(
        route('lista_despesa.store'), 
        params,
        {
          preserveState: true,
          onSuccess: page => {
            this.$emit('atualizar-lista-despesas');
            this.SET_ACTIVE(false);
            this.fecharDialog();
          },
          onError: errors => {
            this.SET_ACTIVE(true);
            this.SET_MESSAGES(errors);
          }
        } 
      )
    }
  }
}
</script>

<style>

</style>