<template>
  <DialogComponent 
    v-model="dialog"
    titulo="Novo relatório por lancha"
    :largura="600"
    texto_botao_abrir="novo"
    texto_botao="gerar"
    @click:dialog-button="salvar()"
  >
    <v-row>
      <v-col class="mt-2 pb-0">
        <v-autocomplete
          v-model="form.lancha_id"
          :items="selects.lanchas"
          label="Selecione a lancha *"
          item-text="nome"
          item-value="id"
        />
      </v-col>

      <v-col class="mt-2 pb-0">
        <v-menu
          ref="menu_data"
          v-model="menu_data"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="dateFormatted"
              label="Data *"
              append-icon="mdi-calendar"
              v-bind="attrs"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="form.data"
            no-title
            locale="pt-BR"
            format="DD/MM/YYYY"
            @input="menu_data = false"
          />
        </v-menu>            
      </v-col>
    </v-row>
  </DialogComponent>
</template>

<script>
import { mapMutations } from 'vuex';
import DialogComponent from '../../../../components/DialogComponent.vue';

export default {
  components: { DialogComponent },
  data: () => ({
    dialog: false,
    menu_data: false,
    form: {
      lancha_id: '',
      data: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    },
    selects: {
      lanchas: [],
    }
  }),
  mounted() {
    this.selects.lanchas = this.$inertia.page.props.lanchas;
  },
  computed: {
    dateFormatted: {
      get() { 
        const [ ano, mes, dia] = this.form.data.split('-');
        return `${dia}/${mes}/${ano}`;
      },
      set(value) { this.form.data = value; }
    }, 
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    fecharDialog() {
      this.dialog = false;
    },
    salvar() {
      this.$inertia.post(
        route('relatorio.por_lancha.store'), 
        this.form, 
        { 
          preserveState: true, 
          onSuccess: dado => {
            this.fecharDialog();
            this.$emit('atualizar-tela-inicial');
          },
          onError: errors => {
            this.SET_ACTIVE(true);
            this.SET_MESSAGES(errors);
          }
        }
      )
    }
  }
}
</script>

<style>

</style>