<template>
  <DialogComponent 
    v-model="dialog"
    texto_botao_abrir=""
    ativar_icone_botao_abrir
    small_botao_abrir
    icone_botao_abrir="mdi-eye"
    cor_botao_abrir=""
    :titulo="TITULO_COMPUTED"
    texto_botao="Gerar"
    @click:dialog-button="gerarRelatorio()"
  >
    <v-row class="mt-3">
      <v-col>
        <v-text-field
          :value="TOTAL"
          label="Total"
          disabled
        />
      </v-col>

      <v-col>
        <v-text-field
          :value="FPG"
          label="FPG"
          disabled
        />
      </v-col>
      
      <v-col>
        <v-text-field
          :value="PG"
          label="Pago"
          disabled
        />
      </v-col>

      <v-col>
        <v-text-field
          :value="PORCENTAGEM_AJATO"
          label="Ajato"
          disabled
        />
      </v-col>

      <v-col>
        <v-text-field
          :value="PORCENTAGEM_LANCHA"
          label="Lancha"
          disabled
        />
      </v-col>
    </v-row>

    <ListaDespesas :id_relatorio="item.id" />
  </DialogComponent>
</template>

<script>
import moment from 'moment';
import DialogComponent from '../../../../components/DialogComponent.vue';
import ListaDespesas from './ListaDespesas.vue';

export default {
  components: { DialogComponent, ListaDespesas },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    lista: []
  }),
  computed: {
    TITULO_COMPUTED() {
      const nome_lancha = this.item.nome_lancha;
      const data = moment(this.item.data).format('DD/MM/YYYY');

      return `Relatorio: ${nome_lancha} - ${data}`;
    },
    TOTAL() {
      return this.item.valor_total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    },
    FPG() {
      return this.item.valor_fpg.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });      
    },
    PG() {
      return this.item.valor_pago.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    },
    PORCENTAGEM_AJATO() {
      return this.item.porcentagem_ajato.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    },
    PORCENTAGEM_LANCHA() {
      return this.item.porcentagem_lancha_despesas.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
    },
  },
  methods: {
    gerarRelatorio() {
      const url = route('relatorio.por_lancha.gerar', this.item.id);
      window.open(url);
    }
  }
}
</script>

<style>

</style>