<template>
  <Layout>
    <v-card class="mx-2">
      <v-card-title>
        Relatório de Encomendas Recebidas
        <v-divider vertical inset class="ml-4"/>

        <v-switch
          v-model="ocultar_concluidos"
          label="Ocultar Concluidos"
          dense
          class="ml-2"
        />
        <v-spacer />

        <v-text-field
          v-model="pesquisar"
          append-icon="mdi-magnify"
          label="Pesquisar..."
          single-line
        />
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="pesquisar"
        height="calc(100vh - 170px)"
        :items-per-page="-1"
      >
        <template #item.progresso="{ item }">
          <v-progress-linear 
            :value="(item.entregues / item.total_recebido) * 100" 
            buffer-value="0"
            color="green"
            height="20"
            stream 
          >
            {{ ((item.entregues / item.total_recebido) * 100).toFixed(2) }}%
          </v-progress-linear>
        </template>

        <template #item.pago_lancha="{ item }">
          <v-avatar
            :color="item.pago_lancha == 1 ? 'green' : 'red' "
            size="20"
            @click="alterarStatus(item)"
            style="cursor: pointer;"
          />
        </template>

        <template #item.actions="{ item }">
          <v-btn
            icon
            @click="abrirLista(item)"
          >
            <v-icon>mdi-eye</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <DialogRelatorioListaEncomendasRecebida v-model="dialog_lista_selecionada" :dados_dialog="dados_dialog" />
    </v-card>
  </Layout>
</template>

<script>
import { mapMutations } from 'vuex';
import Layout from '../../../Layouts/Index.vue';
import DialogRelatorioListaEncomendasRecebida from '../Dialogs/DialogRelatorioListaEncomendasRecebida.vue';

export default {
  components: { Layout, DialogRelatorioListaEncomendasRecebida },
  data: () => ({
    headers: [
      { text: 'Data Entrada', value: 'data_entrada' },
      { text: 'Lancha', value: 'nome_lancha' },
      { text: 'Entregue/Total', value: 'status' },
      { text: 'Progresso (%)', value: 'progresso' },
      { text: 'Pago Lancha', value: 'pago_lancha', align: 'center', width: '130' },
      { text: '', value: 'actions', width: '90' },
    ],
    desserts: [],
    pesquisar: '',
    ocultar_concluidos: false,
    dialog_lista_selecionada: false,
    dados_dialog: {
      item: {
        nome_lancha: '',
        data_entrada: ''
      },
      lista: []
    }
  }),
  mounted() {
    this.desserts = this.$inertia.page.props.lista_relatorios;
  },
  watch: {
    ocultar_concluidos(valor) {
      const dados = Object.assign([], this.$inertia.page.props.lista_relatorios);
      this.desserts = valor ? dados.filter(f => f.total_recebido != f.entregues) : dados;
    }
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    async alterarStatus(item) {
      const url = '/encomendas_recebidas_lancha/relatorio/alterar-status';
      const pago_lancha = item.pago_lancha == 1 ? 0 : 1;
      const data = {
        lancha_id: item.lancha_id,
        data_entrada: item.data_entrada,
        pago_lancha: pago_lancha
      }
      const options = {
        onSuccess: page => this.desserts = page.props.lista_relatorios,
        onError: errors => {
          this.SET_ACTIVE(true);
          this.SET_MESSAGES(errors);
        }
      }
      await this.$inertia.get(url, data, options);
    },
    async abrirLista(item) {
      const url = '/encomendas_recebidas_lancha/relatorio/lista';
      
      await this.$inertia.visit(url, {
        method: 'get',
        data: item,
        preserveState: true,
        onSuccess: page => { 
          this.dados_dialog = {
            item: item,
            lista: page.props.encomendas_relatorio
          }
          this.dialog_lista_selecionada = true;
        },
        onError: errors => {
            this.SET_ACTIVE(true);
            this.SET_MESSAGES(errors);
          }
        }
      );
    },
  }
}
</script>

<style>

</style>