<template>
  <v-app> 
    <AlertCompoment />

    <NavigationDrawer />

    <v-main>
      <v-container fluid class="pa-0 ma-0">
        <slot />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import AlertCompoment from '../components/AlertCompoment.vue';
import NavigationDrawer from './NavigationDrawer.vue';

export default {
  components: { NavigationDrawer, AlertCompoment },
  data: () => ({
    alert: true
  })
}
</script>

<style>

</style>
