<template>
  <v-card>
    <v-navigation-drawer
      permanent
      expand-on-hover
      mini-variant
      app
      width="400"
      color="#E8E8E8"
    >
      <v-list>
        <!-- <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/women/85.jpg"></v-img>
          </v-list-item-avatar>
        </v-list-item> -->

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6">
              {{ USUARIO.name }}
            </v-list-item-title>

            <v-list-item-subtitle>
              {{ USUARIO.email }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item 
          v-for="l in links" 
          :key="l.rota"
          :href="l.rota"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ l.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-title>
            {{ l.txt }}
          </v-list-item-title>
        </v-list-item>

        <v-list-group
          v-for="(link, i) in links_grupo"
          :key="i"
          v-model="link.active"
          :prepend-icon="link.icone"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ link.titulo }}</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="(sub, i) in link.sub_link"
            :key="i"
            :href="sub.rota"
            link
          >
            <v-list-item-icon>
              <v-icon v-if="$page.url == sub.rota" color="primary">mdi-checkbox-blank-circle</v-icon>
              <v-icon v-else>mdi-checkbox-blank-circle-outline</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-if="!sub.ativar_dialog">{{ sub.titulo }}</v-list-item-title>
              <v-list-item-title v-else @click="abrirDialog('todos-destinos-por-data-lancha')">{{ sub.titulo }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <TodosDestinosPorDataLancha :text_dialog="text_dialog" @reset-text-dialog="text_dialog = ''"/>
  </v-card>
</template>

<script>
  import TodosDestinosPorDataLancha from '../Pages/Relatorio/TodosDestinosPorDataLancha/Index.vue';

  export default {
    components: { TodosDestinosPorDataLancha },
    mounted() {
      if (this.$inertia.page.component.split('/')[0] == 'EncomendasRecebidasLancha') this.links_grupo[0].active = true;
      if (this.$inertia.page.component.split('/')[0] == 'Relatorio') this.links_grupo[1].active = true;
    },
    data: () => ({
      links: [
        {
          txt: 'Tela Inicial',
          icon: 'mdi-home',
          rota: '/home'
        },
      ],
      links_grupo: [
        {
          titulo: 'Encomendas Recebidas',
          icone: 'mdi-view-list',
          active: true,
          sub_link: [
            {
              titulo: 'Lista',
              rota: '/encomendas_recebidas_lancha'
            },
            {
              titulo: 'Novo Registro',
              rota: '/encomendas_recebidas_lancha/create'
            },
            {
              titulo: 'Relatorio',
              rota: '/encomendas_recebidas_lancha/relatorio'
            }
          ]
        },
        {
          titulo: 'Relatorios',
          icone: 'mdi-file-chart',
          active: false,
          sub_link: [
            {
              titulo: 'Relatório por lancha',
              rota: '/relatorio/por_lancha'
            },
            {
              titulo: 'Relatório por destino geral (Federal)',
              rota: '/relatorio/por_destino/geral'
            },
            {
              titulo: 'Relatório por destino individual (Federal)',
              rota: '/relatorio/por_destino/individual'
            },
            {
              titulo: 'Todos os Destinos por Data e Lancha',
              rota: '',
              ativar_dialog: 'todos-destinos-por-data-lancha'
            }
          ]
        }
      ],
      text_dialog: ''
    }),
    computed: {
      USUARIO(){
        return this.$page.props.usuario ?? '';
      }
    },
    methods: {
      abrirDialog(text) {
        this.text_dialog = text;
      }
    }
  }
</script>