<template>
  <DialogFullComponent
    v-model="dialog"
    texto_botao_abrir=""
    ativar_icone_botao_abrir
    small_botao_abrir
    icone_botao_abrir="mdi-eye"
    cor_botao_abrir=""
    :titulo="TITULO_COMPUTED"
    texto_botao="Gerar"
    @click:dialog-button="gerarRelatorio()"
  >
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      height="calc(100vh - 147px)"
      fixed-header
      hide-default-footer
      :items-per-page="-1"
      full-width
    >
      <template #top>
        <v-toolbar flat color="white">
          <v-spacer />
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Pesquisar"
            single-line
            hide-details
            style="max-width: 450px;"
          />
        </v-toolbar>
      </template>
    </v-data-table>
  </DialogFullComponent>
</template>

<script>
import { mapMutations } from 'vuex';
import DialogFullComponent from '../../../../../components/DialogFullComponent.vue';

export default {
  components: { DialogFullComponent },
  props: {
    item: { type: Object, require: true }
  },
  data: () => ({
    dialog: false,
    search: '',
    headers: [
      { text: 'ID', value: 'id' },
      { text: 'Descrição', value: 'descricao' },
      { text: 'Nome Remetente', value: 'remetente' },
      { text: 'Cpf do Remetente', value: 'cpf' },
      { text: 'Telefone do Remetente', value: 'tel_remetente' },
      { text: 'Nome do Destinatário', value: 'destinatario' },
      { text: 'Telefone do Destinatário', value: 'tel_destinatario' },
      { text: 'CPF do Destinatário', value: 'cpf_destinatario' },
      { text: 'Destino', value: 'nome_municipio' },
    ],
    desserts: []
  }),
  watch: {
    dialog(valor) {
      if (valor) this.buscarDados();
    }
  },
  computed: {
    TITULO_COMPUTED() {
      return 'Lista de encomendas';
    }
  },
  methods: {
    ...mapMutations('Alert', ['SET_ACTIVE', 'SET_MESSAGES']),
    async buscarDados() {
      const url = '/relatorio/por_destino/geral/lista_de_encomendas';
      const data = {
        lancha_id: this.item.lancha_id,
        data: this.item.data
      }
      const options = {
        preserveState: true,
        onSuccess: page => {
          this.desserts = page.props.lista_de_encomendas; 
          this.SET_ACTIVE(false);
        },
        onError: errors => {
          this.SET_ACTIVE(true);
          this.SET_MESSAGES(errors);
        }
      }
      await this.$inertia.get(url, data, options);
    },
    gerarRelatorio() {
      const url = route('relatorio.por_destino.geral.gerar', this.item.id);
      window.open(url);
    }
  }
}
</script>

<style>

</style>